@using Restarauntly.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>Welcome to <span>Restaurantly</span></h1>
                <h2>Delivering great food for more than 18 years!</h2>

                <div class="btns">
                    <a asp-controller="Menu" asp-action="Dishes" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
                    <a asp-controller="Booking" asp-action="Reserve" class="btn-book animated fadeInUp scrollto">Book a Table</a>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
                <a href="https://www.youtube.com/watch?v=u6BOC7CDUTQ" class="glightbox play-btn"></a>
            </div>

        </div>
    </div>
</section>


