@using Restarauntly.Common
@{
    this.ViewData["Title"] = "Privacy";
}
<p></p>
<h4>
    This website uses cookies
</h4>
<h4>
    We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners who may combine it with other information that you’ve provided to them or that they’ve collected from your use of their services.
</h4>
<p></p>

