@model Restarauntly.Web.ViewModels.Categories.CreateCategoriesViewModel

@{
    ViewData["Title"] = "Create";
}

<form method="post" class="col-md-6 offset-md-3" enctype="multipart/form-data">
    <h1>Add new Category!</h1>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary" />
</form>
