@model Restarauntly.Web.ViewModels.Categories.EditCategoryViewModel

@{
    ViewData["Title"] = "Edit";
}

<form method="post" class="col-md-6 offset-md-3" enctype="multipart/form-data">
    <h1>Edit @Model.Name</h1>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <hr />
    <input type="submit" value="Save" class="btn btn-warning" />
</form>
