@model Restarauntly.Web.ViewModels.Tables.UnBookTableViewModel
@{
    this.ViewData["Title"] = "UnBook";   
}
<form method="post" class="col-md-6 offset-md-3" enctype="multipart/form-data">
    <h1>Edit Table</h1>

    <div class="mb-3">
        <label asp-for="Id" class="form-check-label"></label>
        <input asp-for="Id" class="form-check-label">
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>
    <hr />
    <input type="submit" value="Save" class="btn btn-warning" />
</form>