<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="~/img/about.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>About us</h3>
                <p</p>
                <p class="fst-italic">
                    Deep-set leather couches, clubby music and even a photo booth lend the multilevel marvel an irresistible party vibe.
                    This restaurant is set to the soft glow emanating from the semi-open kitchen, where a wood-fired hearth lights up dry-aged steakhouse classics, cut to generous proportions. 
                    </p>
                    <p>Seafood lovers will find plenty to mull over too, like a tangle of octopus and squid, prepared in the wood-fueled oven and served with dill yogurt, arugula and roasted potatoes. Then, a fire-roasted seafood tower is brought tableside, featuring lobster tail, scallops, Manila clams and king crab, all bathed in garlic butter, chili oil and served with house-made pasta.
                </p>
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> Quick service!</li>
                    <li><i class="bi bi-check-circle"></i> Оutdoor and indoor tables</li>
                    <li><i class="bi bi-check-circle"></i> Free wi-fi!</li>
                </ul>
                <p>
            </div>
        </div>

    </div>
</section>