@{
    this.ViewData["Title"] = "About us";
}

<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="~/img/about.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>About us</h3>
                <p</p>
                <p class="fst-italic">
                    Deep-set leather couches, clubby music and even a photo booth lend the multilevel marvel an irresistible party vibe.
                    This restaurant is set to the soft glow emanating from the semi-open kitchen, where a wood-fired hearth lights up dry-aged steakhouse classics, cut to generous proportions.
                </p>
                <p>
                    Seafood lovers will find plenty to mull over too, like a tangle of octopus and squid, prepared in the wood-fueled oven and served with dill yogurt, arugula and roasted potatoes. Then, a fire-roasted seafood tower is brought tableside, featuring lobster tail, scallops, Manila clams and king crab, all bathed in garlic butter, chili oil and served with house-made pasta.
                </p>
                <section id="contact" class="contact">
                    <div class="container" data-aos="fade-up">
                        <div class="row mt-5">
                            <div class="col-lg-4">
                                <div class="info">
                                    <div class="address">
                                        <i class="bi bi-geo-alt"></i>
                                        <h4>Location:</h4>
                                        <p>A108 Adam Street, New York, NY 535022</p>
                                    </div>
                                    <div class="open-hours">
                                        <i class="bi bi-clock"></i>
                                        <h4>Open Hours:</h4>
                                        <p>
                                            Monday-Saturday:<br>
                                            11:00 AM - 2300 PM
                                        </p>
                                    </div>
                                    <div class="phone">
                                        <i class="bi bi-phone"></i>
                                        <h4>Call:</h4>
                                        <p>+3597 777 777</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>