@model Restarauntly.Web.ViewModels.Chefs.ChefsInListViewModel
@{
    this.ViewData["Title"] = "Chefs";
}


<section id="chefs" class="chefs">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Chefs</h2>
            <p>Our Proffesional Chefs</p>
        </div>

        <div class="row">
            @foreach (var currChef in Model.Chefs)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="zoom-in" data-aos-delay="100">
                        <img src="@currChef.ImageUrl" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>@currChef.Name</h4>
                                <span>@currChef.JobType</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>